main {
    display: flex; 
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    background: #1B263B;
    min-height: calc(100vh - 260px);
    padding: 20px 40px;
    flex-direction: row;   
}

.card-ticker {
    display: flex;
    flex-direction: column;
    gap: 40px;

    border-radius: 20px;
    padding: 20px;
    
    height: fit-content;
    width: 400px;
    background: #415A77;
}

.card-ticker-name {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.card-ticker-name span {
    font-size: 16px;
    color: #d5c9c9;
}

.card-ticker-price span {
    font-size: 16px;
}

.card-ticker-evaluation {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-top: 4px;
}

.card-ticker-evaluation p {
    opacity: 80%;
}

.card-ticker-ocillation {
    display: flex;
    justify-content: center;
    
    padding: 8px;
    border-radius: 12px;
    
    background: #008000;
}

.card-ticker-user-actions {
    display: flex;
    justify-content: space-between;
}