* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #f0f1f3;
}

header {
    height: 80px;
    background: #02010A;   
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 60px;
    height: 60px;
}

.logo h1 {
    color: #f0f1f3;
}

.logo span {
    color: #223bbb;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: #f0f1f3;
}

nav ul  :hover {
    opacity: 90%;
    cursor: pointer;
}

main {
    background: #717989;
    min-height: calc(100vh - 180px);
    padding: 20px 40px;

    display: flex; 
    gap: 20px;
}

.card-ticker {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 400px;
    height: fit-content;
    /* background: #20003d; */
    background: #04052E;
    border-radius: 20px;
    padding: 20px;
}

.ticker-name {
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.ticker-name span {
    font-size: 16px;
    color: #d5c9c9;
}

.ticker-value span {
    font-size: 16px;
}

.ticker-avaliable {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-top: 4px;
}

.ticker-avaliable p {
    opacity: 80%;
}

.ticker-ocilation {
    background: #008000;
    padding: 8px;
    border-radius: 12px;

    display: flex;
    justify-content: center;
}

.ticker-user-actions {
    display: flex;
    justify-content: space-between;
}

footer {
    background: #02010A;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px 0;
    min-height: 100px;
}